html {
  font-family: "Adobe Caslon Pro", "Palatino Linotype", "Palatino", serif;
}
ul.navbar {
  padding-left: 0;
  list-style-type: none;
}
ul.navbar li {
  display: inline-block; padding-right: 1em;
}
ul.navbar li a {
  color: black;
  text-decoration: none;
}
ul.navbar li a:hover {
  color: blue;
}
h1 span.subdir {
  font-size: 80%;
}
pre {
  font-family: monospace;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  background: #2b2b2b;
  color: #f8f8f2;
}
pre > code.language-prose {
  font-family: serif;
}
pre > code {
  padding: 0px;
  white-space: pre-wrap;
  background-color: transparent;
}
code {
  padding: 0.3em;
  background-color: hsl(0,0%,90%);
}
#content {
  color: black;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 480px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px;
  background-color: white;
}
body {
  background-color: hsl(240,70%,30%); 
}
footer {
  margin-top: 2em;
  color: hsl(0,0%,80%);
  text-align: center;
}
footer a, footer a:visited {
  color: hsl(0,0%,90%);
  font-style: italic;
}


/* dialog */
div.popup {
  position: fixed;
  width: 60vw;
  left: 20vw;
  top: 25vh;
}
div.goto-dialog {
  border: 2px solid black;
  background-color: #fea;
  padding: 2em;
  box-shadow: 1em 1em 1em black;
}
div.goto-dialog input {
  font-size: 2em;
  width: 100%;
}
